<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Chat | Mon IRC</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <p><a href="/chat">My IRC Chat</a></p>
        <div>
            <% if (isAdmin) { %>
                <p>Admin</p>
            <% } else { %>
                <%= username %>
            <% } %>
            <a id="link_menu" href="/user/logout">Déconnexion</a>
            
        </div>
    </header>

    <div class="container">
        <div id="bar">
            <h2>Information profile</h2>
            <p><strong>Nom:</strong>
                <%= username %>
            </p>
            <p><strong>Email:</strong>
                <%= email %>
            </p>
            <div>
                <% if (isAdmin) { %>
                    <select id="userIdSelect">
                        <% users.forEach(user => { %>
                            <option value="<%= user._id %>"><%= user.username %></option>
                        <% }); %>

                    </select>
                    <button onclick="redirectToUserConversation()">Historique des Conversations</button>
                <% } else { %>
                    <a href="/chat/user-all-mes/<%= userId %>">Historique des Conversations</a> 
                <% } %>
            </div>
    
        </div>
    </div>
    <script>
        function redirectToUserConversation() {
            // Get the selected value from the dropdown menu
            var selectElement = document.getElementById("userIdSelect");
            var selectedUserId = selectElement.value;
    
            // Construct the redirect URL with the selected user ID
            var redirectUrl = "/chat/user-all-mes/" + selectedUserId;
    
            // Redirect the user to the URL
            window.location.href = redirectUrl;
        }
    </script>

</body>

</html>