<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Chat | Mon IRC</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <p><a href="/chat">My IRC Chat</a></p>
        <div>
            <% if (isAdmin) { %>
                <p>Admin</p>
            <% } else { %>
                <%= username %>
            <% } %>
            <a id="link_menu" href="/user/logout">Déconnexion</a>
            
        </div>
    </header>

    <div class="container" >
        <div>
            <div id="login-container">
                <% if (!isAdmin) { %>
                    <h2>Information profile : <%= username %></h2>
                <% } %>
                
                <h2><strong>Admin : <%= username %></h2>
                    
                </p>
                <p><strong>Email : <%= email %></strong>
                    
                </p>
            </div>
            
            <div id="login-container">
                <h3>Historique des Conversations Utilisateurs</h3>
                <% if (isAdmin) { %>
                    <select id="userIdSelect">
                        <% users.forEach(user => { %>
                            <option value="<%= user._id %>"><%= user.username %></option>
                        <% }); %>

                    </select>
                    <button onclick="redirectToUserConversation()">Consulter</button>

                <% } else { %>
                    <a href="/chat/user-all-mes/<%= userId %>">Historique des Conversations</a> 
                <% } %>
            </div>
            
            <% if (isAdmin) { %>
                <div id="login-container">
                    <h3>Modifier le mot de passe d'un utilisateur</h3>
                    <form action="/user/update-users/<%= userId%>" method="post">
                        <select id="userIdSelect" name="userId">
                            <% users.forEach(user => { %>
                                <option value="<%= user._id %>"><%= user.username %></option>
                            <% }); %>
                        </select>
                        <input type="password" name="newPassword" placeholder="Nouveau mot de passe" required>
                        <button type="submit">Modifier</button>
                    </form>
                </div>
            <% } %>
    
        </div>
    </div>
    <script>
        function redirectToUserConversation() {
            // Get the selected value from the dropdown menu
            var selectElement = document.getElementById("userIdSelect");
            var selectedUserId = selectElement.value;
    
            // Construct the redirect URL with the selected user ID
            var redirectUrl = "/chat/user-all-mes/" + selectedUserId;
    
            // Redirect the user to the URL
            window.location.href = redirectUrl;
        }
    </script>

</body>

</html>